@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font-script {
    font-family: 'Pacifico';
}

.text-truncate-custom {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image-skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: $gray-200;
    }
    100% {
        background-color: $gray-400;
    }
}

.avatar-image-height {
    height: 15rem;
}

.image-height {
    height: 10rem;
}

.card-image-height {
    height: 12rem;
}

@include media-breakpoint-up(md) {
    .avatar-image-height {
        height: 30rem;
    }

    .image-height {
        height: 30rem;
    }

    .card-image-height {
        height: 15rem;
    }
}

// Hide Scrollbar

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none;
}

// CKEditor
.ck-editor__editable_inline:not(.ck-comment__input *) {
    min-height: 10rem;
}
