@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font-script {
    font-family: 'Pacifico';
}

.text-truncate-custom {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-justify {
    text-align: justify !important;
}

.image-skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: $gray-200;
    }
    100% {
        background-color: $gray-400;
    }
}

.avatar-image-size {
    $size: 15rem;
    width: $size;
    height: $size;
}

.image-height {
    height: 10rem;
}

.card-image-height {
    height: 12rem;
}

.article-image-height {
    height: 15rem;
}

.article-width {
    width: 100%;
    min-width: 0;
    max-width: 680px;
}

@include media-breakpoint-up(md) {
    .article-image-height {
        height: 25rem;
    }

    .avatar-image-size {
        $size: 20rem;
        width: $size;
        height: $size;
    }

    .card-image-height {
        height: 15rem;
    }
}

@include media-breakpoint-up(lg) {
    .avatar-image-size {
        $size: 25rem;
        width: $size;
        height: $size;
    }
}

@include media-breakpoint-up(xl) {
    .avatar-image-size {
        $size: 30rem;
        width: $size;
        height: $size;
    }
}

// Hide Scrollbar

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none;
}

// CKEditor
.ck-editor__editable_inline:not(.ck-comment__input *) {
    min-height: 10rem;
}
